extends layout 
 
block content 
  h1= title 
 
  form(id='forestForm', action="/resource/forest", method="POST") 
    div.form-group 
        label.forestAttr(for='forest_area') forest area
        input#forest_area(type='text', name='forest_area') 
    div.form-group 
        label.forestAttr(for='forest_color') forest color 
        input#forest_color(type='text', name='forest_color') 
    div.form-group 
        label.forestAttr(for='forest_dense') forest dense
        input#forest_denset(type='text', name='forest_dense') 
    input(type="submit") 
 
  script. 
    document.forms['forestForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });